@page "/Private"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Chirp.Razor.Pages.PrivateTimelineModel
@inject SignInManager<Chirp.Core.Entities.Author> SignInManager
@inject UserManager<Chirp.Core.Entities.Author> UserManager

@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    @await Html.PartialAsync("_CheepBox", Model!.Author != null ? Model.Author.UserName : "Invalid User")

    <h2> Public Timeline </h2>

    @if (Model.Cheeps.Any() && SignInManager.IsSignedIn(User))
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        @await Html.PartialAsync("_AuthorPartial", cheep)
                        @cheep.MessageContent
                        <small>&mdash; @cheep.TimeStampStr</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>You're not supposed to see this</em>
    }
</div>
