@page "/"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Chirp.Razor.Pages.PublicModel
@inject SignInManager<Chirp.Core.Entities.Author> SignInManager
@inject UserManager<Chirp.Core.Entities.Author> UserManager

@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    @if (SignInManager.IsSignedIn(User))
    {
        
        
        <h3>What's on your mind, @Model.Author?.Name?</h3>
        <form method="post">
            <input type="text" asp-for="Message" required>
            <input type="submit" value="Share">
        </form>
    }
    
    <h2> Public Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.AuthorName">@cheep.AuthorName</a>
                        </strong>
                        @cheep.MessageContent
                        <small>&mdash; @cheep.TimeStampStr</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>

<style>

    /* add asp-route handling(?) so when either button is pressed it changes the page numb */
</style>
