@inject SignInManager<Chirp.Core.Author> SignInManager
@inject UserManager<Chirp.Core.Author> UserManager
@using Chirp.Core
@using Chirp.Core
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var currentUser = await UserManager.GetUserAsync(User);
}

@* we pass the cheepDTO here *@
@model CheepDTO; 

<p>
    <strong>
        <a href="/@Model.AuthorName">@Model.AuthorName</a>
    </strong>
    @if (SignInManager.IsSignedIn(User) && currentUser != null && currentUser.UserName != @Model.AuthorName)
    {
    <form method="post" asp-page-handler="Follow">
    <input type="hidden" name="UsrnmToFollow" value="@Model.AuthorName" />
    <button type="submit" class="btn btn-primary">
        @if (currentUser.FollowsAuthor(@Model.AuthorName))
                {
                <p>[Unfollow]</p>
                }
                else
                {
                <p>[Follow]</p>
                }
        </button>
    </form>
    }
</p>
