@inject SignInManager<Chirp.Core.Author> SignInManager
@inject UserManager<Chirp.Core.Author> UserManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var author = await UserManager.GetUserAsync(User);
}

<div class="navigation">
    @if (SignInManager.IsSignedIn(User))
    {
        <div>
            <a href="/@(author?.UserName)">my timeline</a> |
            <a href="/">public timeline</a> |
            <a href="/about-me">About me</a> |
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl=@Url.Page("") method="post">
                <button type="submit">logout [@author?.UserName]</button>
            </form>
        </div>
    }
    else
    {
        <div>
            <a href="/">public timeline</a> |
            <a asp-area="Identity" asp-page="/Account/Register">register</a> |
            <a asp-area="Identity" asp-page="/Account/Login">login</a>
        </div>
    }
</div>
