@using Microsoft.AspNetCore.Identity
@inject SignInManager<Chirp.Core.Entities.ChirpUser> SignInManager 
@inject UserManager<Chirp.Core.Entities.ChirpUser> UserManager

<ul class="navbar-nav">

    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" title="Manage"
               href="/Identity/Account/Manage/Index">
                Hello @User.Identity.Name!</a>
        </li>
        
        <li class="nav-item">
            @* <form class="form-inline" asp-page="/Account/Logout" href="Identity/Account/Logout"
                  asp-route-returnUrl="@Url.Page("/", new { area = "" })"
                  asp-area="Identity" method="post" >
                <button class="nav-link btn btn-link text-dark"
                        type="submit">Logout</button>
            </form> *@
            <a class="nav-link text-dark" href="Identity/Account/Logout">Logout</a>
        </li>
        
        // inspired by lecture notes
        <h3>What's on your mind, @User.Identity.Name </h3>
        
        <form method="post" action="/SubmitMessage">
            <input type="text" data-val="true" data-val-required="The Message field is required."
                   id="Message" name="Message" value="">
            <input type="submit" value="Share">
            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8i3PMq1Vw...">
        </form>
        
        //<form method="post" action="/submit">
        //    <input type="text" name="Message" value="">
        //    <input type="submit" value="Share">
        //</form>
      
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Identity/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Identity/Account/Login">Login</a>
        </li>
    }
</ul>