@page "/"
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Web.Pages.PublicModel
@inject SignInManager<Core.Author> SignInManager
@inject UserManager<Core.Author> UserManager

@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    @await Html.PartialAsync("_CheepBox", Model!.Author != null ? Model.Author.UserName : "Invalid User")

    <h2> Public Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        @await Html.PartialAsync("_AuthorPartial", cheep)
                        @cheep.MessageContent
                        <small>&mdash; @cheep.TimeStampStr</small>
                    </p>
                </li>
            }
        </ul>
        
    @await Html.PartialAsync("_ChangePage", null) 
    
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }

     
</div>


<style>

    /* add asp-route handling(?) so when either button is pressed it changes the page numb */
</style>
