@inject SignInManager<Core.Author> SignInManager 
@inject UserManager<Core.Author> UserManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model string

@if (SignInManager.IsSignedIn(User))
{
    <div class="cheepbox">
    <h3>What's on your mind, @Model</h3>
    <form method="post" asp-page-handler="Share">
        <input type="text" name="Message" required>
        <input type="submit" value="Share">
    </form>
    </div>
}
