@inject SignInManager<Core.Author> SignInManager 
@inject UserManager<Core.Author> UserManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model string

@if (SignInManager.IsSignedIn(User))
{
    <div class="cheepbox">
        <h3>What's on your mind, @Model</h3>
        
        <script>
        function playSound(event) {
            event.preventDefault();
            // Use the existing audio element
            const sound = document.getElementById('sendSound');
            // Reset the audio in case it has been played before
            sound.currentTime = 0;
        
            // Attempt to play the sound
            sound.play()
        }
        </script>
        
        <form method="post" asp-page-handler="Share">
            <input type="text" name="Message" required>
            <input type="submit" value="Share" onclick="playSound(event)">
        </form>
        <audio id="sendSound" src="sounds/mixkit-fast-small-sweep-transition-166.mp3" preload="auto"></audio>
    </div>
}
